:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.87);
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

html,
body {
    padding: 0;
    margin: 0;
    background: #2d2d2d !important;
}

* {
    outline: 0 !important;
    box-shadow: none !important;
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background: #2222;
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, .1);
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

::selection {
    color: white;
    background: #f37625;
}
