name: build-solo-mode
on:
  workflow_dispatch:

jobs:
  build-solo-mode:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions-rs/toolchain@v1.0.6
        with:
          toolchain: stable

      - uses: actions-rs/cargo@v1.0.1
        with:
          command: build
          args: --manifest-path solo-mode/Cargo.toml --release

      - name: Temporary store install-sd-solo-mode.exe
        uses: actions/upload-artifact@v3
        with:
          name: service-installer
          path: ./solo-mode/target/release/install-sd-solo-mode.exe
          retention-days: 365

      - name: Temporary store remove-sd-solo-mode.exe
        uses: actions/upload-artifact@v3
        with:
          name: service-remover
          path: ./solo-mode/target/release/remove-sd-solo-mode.exe
          retention-days: 365

      - name: Temporary store sd-solo-mode.exe
        uses: actions/upload-artifact@v3
        with:
          name: service
          path: ./solo-mode/target/release/sd-solo-mode.exe
          retention-days: 365

  build-macro-windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions-rs/toolchain@v1.0.6
        with:
          toolchain: stable

      - uses: actions-rs/cargo@v1.0.1
        with:
          command: build
          args: --manifest-path macro/Cargo.toml --release

      - name: Temporary store macro.exe
        uses: actions/upload-artifact@v3
        with:
          name: macro
          path: ./macro/target/release/macro.exe
          retention-days: 365
